@use "./resources" as *;

.navbar {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  .logo {
    font-family: $heading-font;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .toggle-menu-button {
    display: none;
  }

  .nav-links-container {
    display: flex;
    padding: 0 1rem;
    gap: 2rem;

    li {
      list-style: none;
    }
  }

  @media screen and (max-width: $tablet) {
    .toggle-menu-button {
      z-index: 2;

      display: block;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      font-family: $accent-font;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      }
    }
    .nav-links-container {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;

      padding: 15vh 10vw;

      flex-direction: column;
      align-items: start;

      height: 100vh;

      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      background: #fff;

      transform: translateX(-100%);
      transition: all 0.2s ease-in-out;
    }
    .open {
      transform: translateX(0);
    }
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;
  border-radius: 0.5rem;
  width: min(90vw, 450px);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;

  h3,
  p {
    width: 100%;
  }

  .article-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.footer {
  margin-top: 6rem;
  padding: 2rem;
  background: #2e2e2e;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;

  font-size: 0.75rem;

  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    ul {
      list-style: none;

      li {
        // font-family: $heading-font;
        font-weight: 700;
      }
      a {
        margin-left: 2px;
        font-weight: 100;
      }
    }
  }

  .copyright-container {
    // padding-top: 3rem;
    display: flex;
    flex-direction: column;

    span {
      font-family: $accent-font;
    }
  }
}
